@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);

.sitepolicy-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sitepolicy-title {
    text-align: center;
    margin-bottom: 50px;
}

.sitepolicy-desc {
    margin-bottom: 30px;
}