.sidebar-container {
  // margin-top: 6px;
  padding-left: 2px;
  padding-right: 2px;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: center;
  justify-content: center;

  @media (max-width: 920px - 1px) {
    display: inline;
  }
}