@import '~react-md/src/scss/react-md';

//$md-primary-color: $md-grey-400;
$md-primary-color: $md-blue-800;
$md-secondary-color: $md-red-800;
//$md-tertiary-color: $md-grey-300;
//$md-tertiary-color: #faf0e6;
$md-tertiary-color: aliceblue;
$md-tag-hover-color: $md-red-800;

body {
    background-color: $md-tertiary-color;
}

.main-container,
.darker-background {
    background-color: $md-tertiary-color;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}

.md-chip:hover {
    background: $md-tag-hover-color;
}
